<div class="container">
     <div class="row">
         <div class="col-md-4">
        <button type="button" class="btn btn-success" (click)="changemode('quiz')">Quiz</button>
<button type="button" class="btn btn-danger" (click)="changemode('review')">Review</button>
<button type="button" class="btn btn-warning" (click)="changemode('submit')">Submit</button>
        </div>
        </div>

    <div class="row" [hidden]="mode!=='quiz'">
        <div class="col-md-12">                
        <h1>{{data.name}}</h1>
        <p>{{data.description}}</p>
        @for (q of data.questions; track $index) {       
            @if($index==page){
            <app-question [qst]="q" [mode]="'quiz'"></app-question>
            }
        }
        <app-pagination [total]="data.questions.length" (notif)="recuperer($event)"></app-pagination>
</div>
</div>
  <div class="row" [hidden]="mode!=='review'">
        <div class="col-md-12">                
        <h1>{{data.name}}</h1>
        <p>{{data.description}}</p>
        @for (q of data.questions; track $index) {       
          
            <app-question [qst]="q" [mode]="'review'"></app-question>
            
        }
</div>
</div>
        <div class="row" [hidden]="mode!=='submit'">
        <div class="col-md-12">                
        <h1>{{data.name}}</h1>
        <p>{{data.description}}</p>
        @for (q of data.questions; track $index) {       
          
            <app-question [qst]="q" [mode]="'submit'"></app-question>
            
        }
       </div>